<div class="container">
	<div id="pageBody" class="container-fluid">
		<div class="info-box" id="faces">
		    <h2 class="header align-center">Faces</h2>
		    <div class="info">
		        <div class="info-faces-holder align-center row">
		            <div class="thumbnail col-xs-2">
		                <img src="/images/eyedropper.png">
		                <div class="caption">Whoever...<br>Name...<br>Degree...</div>
		            </div>
		            <div class="thumbnail col-xs-2">
		                <img src="/images/eyedropper.png">
		                <div class="caption">Whoever...<br>Name...<br>Degree...</div>
		            </div>
		            <div class="thumbnail col-xs-2">
		                <img src="/images/eyedropper.png">
		                <div class="caption">Whoever...<br>Name...<br>Degree...</div>
		            </div>
		            <div class="thumbnail col-xs-2">
		                <img src="/images/eyedropper.png">
		                <div class="caption">Whoever...<br>Name...<br>Degree...</div>
		            </div>
		            <div class="thumbnail col-xs-2">
		                <img src="/images/eyedropper.png">
		                <div class="caption">Whoever...<br>Name...<br>Degree...</div>
		            </div>
		            <div class="thumbnail col-xs-2">
		                <img src="/images/eyedropper.png">
		                <div class="caption">Whoever...<br>Name...<br>Degree...</div>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>
