
<div class="container">
 
    <div id="pageBody">
		<br>
        <ul class="media-list center-block" id="profile">
            <li class="media">
                <div class="pull-left align-center" href="#">
                    <ul class="menuBarLower nav nav-pills type-b">
                        <li><a href="#" class="active">About me</a></li>
                        <li><a href="#">Review/Comments</a></li>
                        <li><a href="#">Calender</a></li>
                    </ul>
                    <img src="/images/sample_big_profile_picture.jpg" alt="Clockworks' Photo" style="width:400px;height:600px"><br>
                    <a class="cursor-pointer" href="www.clockworks.com.sg">www.clockworks.com.sg</a>
                </div>
                <div class="media-body">
                    <ul class="list-group inline-block">
						<li><h2 class="inline-block">Clockworks' Profile</h2></li>
                        <li>Name: Clockworks G</li>
                        <li>Degree: Materials Science and Engg</li>
                        <li>Place: IIT</li>
                        <li>Languages: ...</li>
                        <li>Country: India</li><br>
                        <li>About Me:
                            <p>
                                In 1991, Shaka Senghor shot and killed a man. He was, he says, "a drug dealer with a quick temper and a semi-automatic

                                pistol." Jailed for second degree murder, that could very well have been the end of the story. But it wasn't. Instead, it was

                                the beginning of a years-long journey to redemption, one with humbling and sobering lessons for us all.This talk was pre-
                                sented at an official TED conference, and was featured by our editors on the home page.In 1991, Shaka Senghor shot and

                                killed a man. He was, he says, "a drug dealer with a quick temper and a semi-automatic pistol." Jailed for second degree

                                murder, that could very well have been the end of the story. But it wasn't. Instead, it was the beginning of a years-long
                            </p>
                        </li><br>
                        <li>Passion:
                            <p>Some thing Something...</p>
                        </li><br>
                        <li>My Story:
                            <p>
                                In 1991, Shaka Senghor shot and killed a man. He was, he says, "a drug dealer with a quick temper and a semi-automatic

                                pistol." Jailed for second degree murder, that could very well have been the end of the story. But it wasn't. Instead, it was

                                the beginning of a years-long journey to redemption, one with humbling and sobering lessons for us all.This talk was pre-
                                sented at an official TED conference, and was featured by our editors on the home page.In 1991, Shaka Senghor shot and

                                killed a man. He was, he says, "a drug dealer with a quick temper and a semi-automatic pistol." Jailed for second degree

                                murder, that could very well have been the end of the story. But it wasn't. Instead, it was the beginning of a years-long
                            </p>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

</div>
