
<div class="container">
    <div class="modal fade" id="profilePopup">
        <div class="modal-dialog modal-vlg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <div class="align-center">
                        <div class="nav-arrows inline-block">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <h2 class="inline-block"></h2>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <ul class="media-list center-block" id="profile">
                        <li class="media">
                            <div class="pull-left thumbnail align-center" href="#">
                                <ul class="nav nav-pills">
                                    <li><a href="#" class="active">About Me</a></li>
                                    <li><a href="#">Reviews/Comments</a></li>
                                    <li><a href="#">Calendar</a></li>
                                </ul>
                                <hr />
                                <span id="tutorMessagePopupModal0" data-id="startupId0"
                                      data-name="Clockworks" class="glyphicon glyphicon-envelope pull-right envelope-big"></span>
                                <img src="/images/eraser.png" alt="Clockworks' Photo"><br>
                                <a class="cursor-pointer">Select And Book A Session</a>
                            </div>
                            <div class="media-body">
                                <ul class="list-group inline-block">
                                    <li>Name: Ramesh G</li>
                                    <li>Degree: Materials Science and Engg</li>
                                    <li>Uni: IIT</li><br>
                                    <li>
                                        <p>
                                            In 1991, Shaka Senghor shot and killed a man. He was, he says, "a drug dealer with a quick temper and a semi-automatic

                                            pistol." Jailed for second degree murder, that could very well have been the end of the story. But it wasn't. Instead, it was

                                            the beginning of a years-long journey to redemption, one with humbling and sobering lessons for us all.This talk was pre-
                                            sented at an official TED conference, and was featured by our editors on the home page.In 1991, Shaka Senghor shot and

                                            killed a man. He was, he says, "a drug dealer with a quick temper and a semi-automatic pistol." Jailed for second degree

                                            murder, that could very well have been the end of the story. But it wasn't. Instead, it was the beginning of a years-long
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
	
	<br>
    <div id="searchResults" class="container">
        <ul class="media-list black-background">
            <li class="media" id="tutorId0">
                <span id="tutorMessagePopup0" data-id="tutorId0" data-name="Ramesh" class="glyphicon glyphicon-envelope pull-right envelope-big"></span>
                <br>
                <a class="pull-left" href="#">
                    <img class="media-object" src="/images/eraser.png" alt="Ramesh's Photo">
                </a>
                <div class="media-body">
                    <ul class="list-group inline-block">
                        <li><a class="profile-trigger cursor-pointer">Name: Ramesh G</a></li>
                        <li>Degree: Materials Science and Engg</li>
                        <li>Uni: IIT</li>
                    </ul>
                </div>
                <a id="tutorStartTuition0" class="pull-right cursor-pointer">Start Tuition</a>
                <br>
            </li>
            <li class="media" id="tutorId1">
                <span id="tutorMessagePopup1" data-id="tutorId1" data-name="Rajesh" class="glyphicon glyphicon-envelope pull-right envelope-big"></span>
                <br>
                <a class="pull-left" href="#">
                    <img class="media-object" src="/images/eraser.png" alt="Ramesh's Photo">
                </a>
                <div class="media-body">
                    <ul class="list-group inline-block">
                        <li><a class="profile-trigger cursor-pointer">Name: Rajesh G</a></li>
                        <li>Degree: Materials Science and Engg</li>
                        <li>Uni: IIT</li>
                    </ul>
                </div>
                <a id="tutorStartTuition1" class="pull-right cursor-pointer">Start Tuition</a>
                <br>
            </li>
            <li id="tutorId2" class="media">
                <span id="tutorMessagePopup2" data-id="tutorId2" data-name="Kamesh"
                      class="glyphicon glyphicon-envelope pull-right envelope-big"></span>
                <br>
                <a class="pull-left" href="#">
                    <img class="media-object" src="/images/eraser.png" alt="Ramesh's Photo">
                </a>
                <div class="media-body">
                    <ul class="list-group inline-block">
                        <li><a class="profile-trigger cursor-pointer">Name: Kamesh L</a></li>
                        <li>Degree: Materials Science and Engg</li>
                        <li>Uni: IIT</li>
                    </ul>
                </div>
                <a id="tutorStartTuition2" class="pull-right cursor-pointer">Start Tuition</a>
                <br>
            </li>
            <li id="tutorId3" class="media">
                <span id="tutorMessagePopup3" data-id="tutorId3" data-name="Ganesh" class="glyphicon glyphicon-envelope pull-right envelope-big"></span>
                <br>
                <a class="pull-left" href="#">
                    <img class="media-object" src="/images/eraser.png" alt="Ramesh's Photo">
                </a>
                <div class="media-body">
                    <ul class="list-group inline-block">
                        <li><a class="profile-trigger cursor-pointer">Name: Ganesh H</a></li>
                        <li>Degree: Materials Science and Engg</li>
                        <li>Uni: IIT</li>
                    </ul>
                </div>
                <a id="tutorStartTuition3" class="pull-right cursor-pointer">Start Tuition</a>
                <br>
            </li>
        </ul>
    </div>

</div>
